/********* ESTILOS GENERALES *********/

@font-face {
    font-family: old-school;
    src: url(../fonts/VT323-Regular.ttf);
}

@font-face {
    font-family: handwritten;
    src: url(../fonts/ReenieBeanie-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --principal: #448D76;
    --secondary: #AE0D7A;
    --dark: #093426;
    --semidark: #3d3d3d;
    --light: #F7EDD4;
    --emphasis: #FCBA12;
}

body.container {
    display: grid;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

h2 {
    margin-top: 2rem;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    padding: 1rem 0;
}

/* GRID DISPLAY */

header {
    grid-row: 1 / span 1;
    grid-column: 1 / span 12;
}

main {
    grid-row: 2 / span 1;
    grid-column: 1 / span 12;
}

body.container {
    grid-template-rows: auto 1fr 4rem;
    grid-template-columns: repeat(12, 1fr);
}

footer {
    grid-row: 3 / span 1;
    grid-column: 1 / span 12;
}

/********* HEADER *********/

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    color: white;
    padding: 0.5rem 1rem;
}

.partida header {
    padding: 0 1rem;
}

header h1 {
    font-size: 4rem;
    text-shadow: 5px 5px 10px #000000;
}

.inicio header>h1 {
    padding: 3rem 0;
}

/********* INSTRUCCIONES *********/

section.hero {
    display: flex;
    justify-content: center;
    column-gap: 5%;
    padding: 0 3rem;
    height: 25rem;
    width: 100%;
    background-color: var(--dark);
    color: white;
}

.foto {
    position: relative;
    background-color: white;
    padding: 1rem;
    padding-bottom: 4rem;
    margin: 1rem;
    border-radius: 4px;
    box-shadow:
        1.9px 3.3px 3.7px rgba(0, 0, 0, 0.097),
        6.5px 10.9px 25.9px rgba(0, 0, 0, 0.143),
        29px 49px 121px rgba(0, 0, 0, 0.24);
    height: 100%;
    rotate: -6deg;
}

.hero_img {
    margin: 1rem;
}

.hero_img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 7px;
}

.foto span {
    position: absolute;
    display: block;
    width: 90%;
    color: #6b6b6b;
    font-family: handwritten;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
    text-align: center;
}

.hero_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: -3rem;
    padding: 1rem 2rem;
    line-height: 2rem;
    font-size: 1.1rem;
    font-weight: bold;
    max-width: 75ch;
}

main.inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light);
    padding: 7rem 10%;
}

.inicio section:not(.hero) {
    width: 100%;
    max-width: 130ch;
}

.form {
    max-width: 25rem;
    margin: 1rem auto 0;
    padding: 2rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
}

.form select {
    outline: none;
    width: 100%;
    margin: 0.5rem 0 1.5rem;
    padding: 0.8rem;
    font-size: 0.9rem;
    border-radius: 13px;
    background-color: white;}

/********* CENTRO DE LA PÁGINA (ZONA DE JUEGO) *********/

main.partida {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--principal);
    background: rgb(94, 167, 144);
    background: radial-gradient(circle, rgba(94, 167, 144, 1) 0%, rgba(41, 96, 78, 1) 100%);
}

main .mesa {
    height: 100%;
}

/* JUGADORES */

.personas {
    position: relative;
    height: 90%;
    min-height: 495px;
    width: 95vw;
    max-width: 1740px;
    margin: 0 auto;
    text-align: center;
    border-top-left-radius: 100vh;
    border-top-right-radius: 100vh;
    margin-bottom: 1rem;
}

.personas div[class*="posicion"] {
    position: absolute;
    width: 19vw;
    margin: 1vh 1vw;
}

.nombre {
    padding-bottom: 1rem;
    color: white;
    font-weight: bold;
}

.posicion0 {
    bottom: 0;
    left: 0;
}

.posicion1 {
    top: 28%;
    left: 9%;
}

.posicion2 {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.posicion3 {
    top: 28%;
    right: 9%;
}

.posicion4 {
    bottom: 0;
    right: 0;
}

div[class^="jugador"]:not(.jugador1):not() {
    width: 19vw;
    text-align: center;
}

/* .mano {
    transform-origin: bottom center;
} */

div[class^="mano"]:not(.mano1) {
    display: flex;
    justify-content: space-evenly;
    width: 19vw;
    margin-left: 36%;
}

div[class^="mano"]:not(.mano1) .carta {
    margin-left: -70%;
    width: 5rem;
    box-shadow:
        0.3px 0.7px 0.4px rgba(0, 0, 0, 0.016),
        0.6px 1.6px 1px rgba(0, 0, 0, 0.023),
        1.1px 2.8px 1.7px rgba(0, 0, 0, 0.028),
        1.7px 4.4px 2.6px rgba(0, 0, 0, 0.033),
        2.6px 6.5px 3.9px rgba(0, 0, 0, 0.037),
        3.8px 9.6px 5.6px rgba(0, 0, 0, 0.042),
        5.6px 14.1px 8.1px rgba(0, 0, 0, 0.047),
        8.5px 21.6px 11.9px rgba(0, 0, 0, 0.054),
        15px 38px 20px rgba(0, 0, 0, 0.07);
}

/* MAZOS */

.centro-mesa {
    position: absolute;
    bottom: 14%;
    left: 48%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 17rem;
}

.mazo,
.descartes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 26.1rem;
    padding-left: 39%;
}

.mazo {
    transform: translateX(30%);
}

.descartes {
    transform: translateX(-30%);
}

.mazo .carta,
.descartes .carta {
    margin-left: -121%;
    width: 7rem;
}

.mazo .carta:first-child,
.descartes .carta:first-child {
    box-shadow:
        0.3px 0.7px 0.4px rgba(0, 0, 0, 0.016),
        0.6px 1.6px 1px rgba(0, 0, 0, 0.023),
        1.1px 2.8px 1.7px rgba(0, 0, 0, 0.028),
        1.7px 4.4px 2.6px rgba(0, 0, 0, 0.033),
        2.6px 6.5px 3.9px rgba(0, 0, 0, 0.037),
        3.8px 9.6px 5.6px rgba(0, 0, 0, 0.042),
        5.6px 14.1px 8.1px rgba(0, 0, 0, 0.047),
        8.5px 21.6px 11.9px rgba(0, 0, 0, 0.054),
        15px 38px 20px rgba(0, 0, 0, 0.07);
}

.centro-mesa .marca-posicion {
    box-shadow: none !important;
}

/********* DISPLAY DE INFERIOR DE INFORMACIÓN *********/

/* CARTAS DEL JUGADOR 1 */

section.display {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 270px;
}

.div_jugador1 {
    height: 100%;
    width: 100%;
}

.jugador1 {
    height: 100%;
    width: 35vw;
    margin: 0 auto;
    text-align: center;
}

.mano1 {
    display: flex;
    justify-content: space-evenly;
    width: 35vw;
    margin-left: 28%;
}

.mano1 .carta {
    margin-left: -55%;
    width: 7rem;
    box-shadow:
        0.3px 0.7px 0.4px rgba(0, 0, 0, 0.016),
        0.6px 1.6px 1px rgba(0, 0, 0, 0.023),
        1.1px 2.8px 1.7px rgba(0, 0, 0, 0.028),
        1.7px 4.4px 2.6px rgba(0, 0, 0, 0.033),
        2.6px 6.5px 3.9px rgba(0, 0, 0, 0.037),
        3.8px 9.6px 5.6px rgba(0, 0, 0, 0.042),
        5.6px 14.1px 8.1px rgba(0, 0, 0, 0.047),
        8.5px 21.6px 11.9px rgba(0, 0, 0, 0.054),
        15px 38px 20px rgba(0, 0, 0, 0.07);
}

.mano1 .carta:hover {
    scale: 1.2;
    cursor: pointer;
}

.mano1 a {
    margin-left: -40%;
}

/* INFORMACIÓN MOSTRADA */

main .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 40%;
    min-width: 187px;
    max-width: 370px;
    padding: 1rem;
    background-color: var(--light);
    font-family: old-school, 'Courier New', Courier, monospace;
    border: 2px solid var(--semidark);
    border-radius: 10px;
    box-shadow:
        0px 3.1px 2.2px rgba(0, 0, 0, 0.021),
        0px 5.7px 5.3px rgba(0, 0, 0, 0.031),
        0px 8px 10px rgba(0, 0, 0, 0.038),
        0px 10.2px 17.9px rgba(0, 0, 0, 0.046),
        0px 13.6px 33.4px rgba(0, 0, 0, 0.055),
        0px 25px 80px rgba(0, 0, 0, 0.07);
}

.mensaje {
    height: 100%;
    width: 100%;
    padding: 1rem 0.5rem;
    margin-bottom: 1.5rem;
    background-color: rgb(255, 255, 229);
    font-size: 1.3rem;
    border-radius: 10px;
    border: 2px solid var(--semidark);
    overflow-wrap: break-word;
    overflow-Y: auto;
}

.botones {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.inicio .btn {
    margin: 0 auto;
    width: 6.5rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    color: white;
    height: 3rem;
    width: 100%;
    min-width: max-content;
    padding: 0.5rem;
    margin: 0 0.5rem 1rem 0.5rem;
    border: 2px solid var(--semidark);
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: old-school, 'Courier New', Courier, monospace;
}

.btn:hover {
    background-color: var(--emphasis);
    color: var(--dark);
    cursor: pointer;
}

/********* FOOTER *********/

footer {
    font-size: 1rem;
    background-color: var(--dark);
    color: var(--light);
    padding: 0.5rem 1rem;
    min-height: min-content;
}

footer small, footer small>* {
    font-size: 0.8rem;
}

@media only screen and (min-width: 530px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1024px) {}

@media only screen and (max-width: 1440px) {}